aiodns==3.1.1
aiofiles==23.2.1
aiohttp==3.9.1
aiosignal==1.3.1
altair==5.2.0
annotated-types==0.6.0
anyio==4.2.0
appdirs==1.4.4
apturl==0.5.2
argcomplete==3.2.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.7.2
asttokens==2.4.1
async-generator==1.10
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.2.0
Babel==2.14.0
backoff==2.2.1
base58==2.1.1
base58check==1.0.2
bcrypt==3.2.0
beautifulsoup4==4.12.2
bleach==6.1.0
blinker==1.4
blis==0.7.11
borgbackup==1.2.0
boto==2.49.0
Brlapi==0.8.3
Brotli==1.1.0
CacheControl==0.12.10
cachetools==5.0.0
cachy==0.3.0
catalogue==2.0.10
certifi==2020.6.20
cffi==1.16.0
chardet==4.0.0
charset-normalizer==3.3.2
chrome-gnome-shell==0.0.0
ci-info==0.3.0
clarifai==10.0.0
clarifai-grpc==10.0.2
cleo==0.8.1
click==8.0.3
clikit==0.6.2
cloudpathlib==0.16.0
cohere==4.42
colorama==0.4.4
comm==0.2.2
command-not-found==0.3
confection==0.1.4
configobj==5.0.8
configparser==7.0.0
contextlib2==21.6.0
contourpy==1.2.0
crashtest==0.3.1
crcmod==1.7
cryptography==3.4.8
cupshelpers==1.0
cvss==2.6
cycler==0.12.1
cymem==2.0.8
dataclasses-json==0.6.3
dbus-python==1.2.18
debugpy==1.8.1
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
Deprecated==1.2.14
devscripts===2.22.1ubuntu1
dill==0.3.7
distlib==0.3.8
distro==1.7.0
distro-info==1.1+ubuntu0.2
Django==5.0.2
django-crispy-forms==1.7.2
django-environ==0.11.2
django-model-utils==3.1.1
djangorestframework==3.15.0
duplicity==0.8.21
ecdsa==0.17.0
elementpath==4.1.5
environs==11.0.0
etelemetry==0.3.1
exceptiongroup==1.2.0
executing==2.0.1
fastai==2.7.13
fastapi==0.109.0
fastavro==1.9.3
fastcore==1.5.29
fastdownload==0.0.7
fasteners==0.14.1
fastjsonschema==2.19.1
fastprogress==1.0.3
ffmpy==0.3.1
filelock==3.13.1
fitz==0.0.1.dev2
fonttools==4.47.2
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2023.12.2
future==0.18.2
gcs-oauth2-boto-plugin==3.0
gitdb==4.0.11
GitPython==3.1.43
google-api-python-client==1.7.11
google-apitools==0.5.32
google-auth==2.26.2
google-auth-httplib2==0.1.0
google-reauth==0.1.1
googleapis-common-protos==1.62.0
gpg==1.16.0
gradio==4.15.0
gradio_client==0.8.1
greenlet==1.1.2
grpcio==1.60.0
gsutil==5.27
h11==0.14.0
hdwallet==2.2.1
html5lib==1.1
httpcore==1.0.2
httplib2==0.20.4
httpx==0.26.0
huggingface-hub==0.20.2
idna==3.3
importlib-metadata==6.11.0
importlib-resources==5.13.0
iniconfig==2.0.0
ipfshttpclient==0.7.0
ipykernel==6.29.3
ipython==8.22.2
isodate==0.6.1
isoduration==20.11.0
jedi==0.19.1
jeepney==0.7.1
Jinja2==3.1.3
joblib==1.3.2
json5==0.9.24
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-lsp==2.2.4
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server==2.13.0
jupyter_server_terminals==0.5.3
jupyterlab==4.2.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.2
keyring==21.8.0
kiwisolver==1.4.5
kolibri==0.17.0
langchain==0.1.0
langchain-community==0.0.11
langchain-core==0.1.10
langcodes==3.3.0
langsmith==0.0.80
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lib4sbom==0.6.1
llama-index==0.9.30
llfuse==1.3.8
lockfile==0.12.2
looseversion==1.3.0
louis==3.20.0
lxml==5.2.2
macaroonbakery==1.3.1
Mako==1.1.3
manifest-ml==0.0.1
markdown-it-py==3.0.0
MarkupSafe==2.0.1
marshmallow==3.20.2
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.0.2
mnemonic==0.21
monotonic==1.6
more-itertools==8.10.0
mpmath==1.3.0
msgpack==1.0.3
multiaddr==0.0.9
multidict==6.0.4
murmurhash==1.0.10
mypy-extensions==1.0.0
mysqlclient==1.4.6
nbclient==0.10.0
nbconvert==7.16.2
nbformat==5.10.3
nest-asyncio==1.5.8
netaddr==1.1.0
netifaces==0.11.0
networkx==3.2.1
nibabel==5.2.1
nipype==1.8.6
nlpcloud==1.1.45
nltk==3.8.1
notebook==7.2.1
notebook_shim==0.2.4
numpy==1.26.3
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu12==12.1.105
oauth2client==4.1.3
oauthlib==3.2.0
olefile==0.46
openai==1.7.1
opencv-python==4.9.0.80
openlm==0.0.5
orjson==3.9.12
outcome==1.1.0
overrides==7.7.0
packageurl-python==0.13.4
packaging==24.1
pandas==2.1.4
pandocfilters==1.5.1
paramiko==2.9.3
parso==0.8.3
pastel==0.2.1
pathlib==1.0.1
peewee==3.14.8
pexpect==4.8.0
pillow==10.2.0
pipenv==2023.12.1
pkginfo==1.8.2
platformdirs==4.1.0
plotly==5.18.0
pluggy==1.5.0
poetry==1.1.12
poetry-core==1.0.7
powerline-status==2.7
preshed==3.0.9
prometheus_client==0.20.0
prompt-toolkit==3.0.43
protobuf==4.25.2
prov==2.0.1
psutil==5.9.0
psycopg2==2.9.2
ptyprocess==0.7.0
pure-eval==0.2.2
py3dns==3.2.1
pyarrow==17.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycairo==1.20.1
pycares==4.4.0
pycparser==2.21
pycryptodome==3.20.0
pycups==2.0.1
pycurl==7.44.1
pydantic==2.5.3
pydantic_core==2.14.6
pydeck==0.9.1
pydot==2.0.0
PyDrive==1.3.1
pydub==0.25.1
pyfuse3==3.2.0
Pygments==2.17.2
PyGObject==3.42.1
PyJWT==2.3.0
pylev==1.2.0
pymacaroons==0.13.0
PyMuPDF==1.24.7
PyMuPDFb==1.24.6
PyNaCl==1.5.0
pynvim==0.4.2
pyOpenSSL==21.0.0
pyparsing==3.1.2
pypdf==3.17.4
PyQt5==5.15.9
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyqt5-tools==5.15.9.3.3
PyQt6==6.4.2
pyqt6-plugins==6.4.2.2.3
PyQt6-Qt6==6.4.3
PyQt6-sip==13.6.0
pyqt6-tools==6.4.2.3.3
pyqt6rc==0.6.1
pyRFC3339==1.1
PySide6==6.6.1
PySide6-Addons==6.6.1
PySide6-Essentials==6.6.1
PySimpleSOAP==1.16.2
pytest==8.3.3
pytest-django==4.9.0
python-apt==2.4.0+ubuntu3
python-dateutil==2.8.2
python-debian==0.1.43+ubuntu1.1
python-debianbts==3.2.0
python-dotenv==1.0.0
python-gnupg==0.5.2
python-json-logger==2.0.7
python-magic==0.4.24
python-multipart==0.0.6
python-rapidjson==1.14
pytz==2024.1
pyu2f==0.1.5
pyxdg==0.27
pyxnat==1.6.2
PyYAML==6.0.1
pyzmq==25.1.2
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
qt6-applications==6.4.3.2.3
qt6-tools==6.4.3.1.3
rdflib==6.3.2
redis==5.0.1
referencing==0.32.1
regex==2023.12.25
reportbug===11.4.1ubuntu1
reportlab==3.6.8
requests==2.31.0
requests-toolbelt==0.9.1
retry-decorator==1.1.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
rpds-py==0.17.1
rpmfile==2.0.0
rsa==4.7.2
ruff==0.1.14
safetensors==0.4.1
schema==0.7.5
scikit-learn==1.4.0
scipy==1.12.0
SecretStorage==3.3.1
semantic-version==2.10.0
Send2Trash==1.8.2
sentence-transformers==3.0.1
shellingham==1.5.4
shiboken6==6.6.1
simplejson==3.19.2
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.2.0
sortedcontainers==2.1.0
soupsieve==2.5
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.25
sqlitedict==2.1.0
sqlparse==0.4.4
srsly==2.4.8
stack-data==0.6.3
starlette==0.35.1
streamlit==1.36.0
sympy==1.12
systemd-python==234
tenacity==8.2.3
terminado==0.18.1
thinc==8.2.2
threadpoolctl==3.2.0
tiktoken==0.5.2
tinycss2==1.2.1
tokenizers==0.15.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.0
toolz==0.12.0
torch==2.1.2
torchvision==0.16.2
tornado==6.4
tqdm==4.66.1
traitlets==5.14.2
traits==6.3.2
transformers==4.36.2
trash-cli==0.17.1.14
trio==0.19.0
triton==2.1.0
tritonclient==2.41.1
typer==0.9.0
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2023.4
ubuntu-dev-tools==0.201+ubuntu2.22.4.4
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
unidiff==0.5.5
uri-template==1.3.0
uritemplate==3.0.1
urllib3==1.26.5
urwid==2.1.2
usb-creator==0.3.7
uvicorn==0.26.0
varint==1.0.2
virtualenv==20.25.0
vorta==0.8.3
wadllib==1.3.6
wasabi==1.1.2
watchdog==4.0.1
wcwidth==0.2.13
weasel==0.3.4
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
websockets==11.0.3
wifite==2.6.0
wrapt==1.16.0
xdg==5
xkit==0.0.0
xmlschema==3.0.1
yarl==1.9.4
zipp==1.0.0
zstandard==0.22.0
